.baca {
  background-color: #f8f9fa;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 3500px;
  display: flex;
  flex-direction: column;
}

.baca .overlap-group {
  width: 1440px;
  height: 610px;
  position: relative;
  margin-top: -10px;
}

.baca .thuumbnail {
  position: absolute;
  width: 1440px;
  height: 600px;
  top: 10px;
  left: 0;
}

.baca .img-blog {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 600px;
  display: flex;
  background-image: url(./img/image.svg);
  background-size: 100% 100%;
}

.baca .rectangle {
  width: 1440px;
  height: 600px;
  background-color: #00000080;
}

.baca .title {
  position: absolute;
  top: 199px;
  left: 273px;
  width: 893px;
  height: 224px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.baca .filming-life {
  margin-left: 229px;
  width: 468px;
  height: 100px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 96px;
  letter-spacing: -4.8px;
  line-height: 100px;
  white-space: nowrap;
}

.baca .text-wrapper {
  font-weight: 500;
  letter-spacing: -4.61px;
}

.baca .span {
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  letter-spacing: -4.61px;
}

.baca .div {
  width: 887px;
  height: 60px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #e5e5e5;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.6px;
  line-height: 20px;
}

.baca .text-wrapper-2 {
  width: 887px;
  height: 20px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #e5e5e5;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.6px;
  line-height: 20px;
}

.baca .header {
  height: 99px;
  top: 0;
  display: flex;
  background-color: transparent;
  position: absolute;
  width: 1440px;
  left: 0;
}

.baca .group {
  width: 1440px;
  height: 99px;
  position: relative;
}

.baca .header-BG {
  top: 10px;
  height: 80px;
  background-color: #0000004c;
  position: absolute;
  width: 1440px;
  left: 0;
}

.baca .menus {
  position: absolute;
  top: 0;
  left: 1067px;
  width: 228px;
  height: 99px;
  display: flex;
}

.baca .text-wrapper-3 {
  display: flex;
  align-items: center;
  width: 44.02px;
  height: 99px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -1.6px;
  line-height: 100px;
  white-space: nowrap;
}

.baca .text-wrapper-4 {
  display: flex;
  align-items: center;
  width: 39.3px;
  height: 99px;
  margin-left: 52.2px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #e5e5e5;
  font-size: 16px;
  letter-spacing: -1.6px;
  line-height: 100px;
  white-space: nowrap;
}

.baca .text-wrapper-5 {
  display: flex;
  align-items: center;
  width: 34.59px;
  height: 99px;
  margin-left: 51.9px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #e5e5e5;
  font-size: 16px;
  letter-spacing: -1.6px;
  line-height: 100px;
  white-space: nowrap;
}

.baca .element {
  position: absolute;
  top: 23px;
  left: 150px;
  width: 54px;
  height: 54px;
  aspect-ratio: 0.99;
  object-fit: cover;
}

.baca .words {
  margin-left: 212px;
  width: 1021px;
  height: 1587px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.baca .text-wrapper-6 {
  margin-left: 6.8px;
  width: 64.64px;
  height: 15.09px;
  display: flex;
  align-items: center;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #6c757d;
  font-size: 12px;
  letter-spacing: -0.6px;
  line-height: normal;
}

.baca .p {
  display: flex;
  align-items: flex-end;
  margin-left: 6.8px;
  width: 846.02px;
  height: 25.14px;
  margin-top: 29.2px;
  font-size: 40px;
  letter-spacing: -2px;
  white-space: nowrap;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #495057;
  line-height: 25px;
}

.baca .i-m-an-informatics {
  margin-left: 6.8px;
  width: 1008.2px;
  height: 442.51px;
  margin-top: 37.2px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: -0.6px;
  line-height: 20px;
}

.baca .img {
  width: 1015px;
  height: 375.13px;
  margin-top: 68.9px;
}

.baca .group-2 {
  margin-left: 6.8px;
  width: 1012.2px;
  height: 495.81px;
  margin-top: 98.1px;
  display: flex;
  flex-direction: column;
  gap: 28.2px;
}

.baca .text-wrapper-7 {
  display: flex;
  align-items: flex-end;
  margin-left: 0;
  width: 538.69px;
  height: 25.14px;
  margin-top: 0;
  font-family: "Inter-MediumItalic", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #495057;
  font-size: 24px;
  letter-spacing: -1.2px;
  line-height: 25px;
  white-space: nowrap;
}

.baca .i-m-an-informatics-2 {
  margin-left: 0;
  width: 1008.2px;
  height: 442.51px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: -0.6px;
  line-height: 20px;
}

.baca .blog-group {
  margin-left: 150px;
  width: 1129px;
  height: 601px;
  position: relative;
  margin-top: 107px;
}

.baca .group-3 {
  position: absolute;
  width: 1129px;
  height: 501px;
  top: 100px;
  left: 0;
  display: flex;
}

.baca .blog {
  width: 275.22px;
  height: 501px;
  display: flex;
  flex-direction: column;
}

.baca .category {
  display: inline-flex;
  align-self: flex-end;
  margin-right: 23.4px;
  width: 77px;
  height: 24px;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 10px;
  background-color: #ffffff33;
  border-radius: 8px;
}

.baca .text-wrapper-8 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.baca .image {
  width: 269.22px;
  height: 280px;
  margin-top: 27px;
  object-fit: cover;
}

.baca .text-wrapper-9 {
  width: 57px;
  height: 15px;
  margin-top: 23px;
  display: flex;
  align-items: center;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #6c757d;
  font-size: 12px;
  letter-spacing: -0.6px;
  line-height: normal;
}

.baca .dream-destinations {
  width: 239px;
  height: 50px;
  margin-top: 7px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #495057;
  font-size: 18px;
  letter-spacing: -0.9px;
  line-height: 25px;
}

.baca .text-wrapper-10 {
  width: 269px;
  height: 60px;
  margin-top: 15px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #6c757d;
  font-size: 12px;
  letter-spacing: -0.6px;
  line-height: 20px;
}

.baca .blog-2 {
  margin-top: 51px;
  width: 275.41px;
  height: 450px;
  margin-left: 11.4px;
  display: flex;
  flex-direction: column;
}

.baca .blog-image {
  width: 269.22px;
  height: 280px;
  object-fit: cover;
}

.baca .text-wrapper-11 {
  margin-left: 0.4px;
  width: 269px;
  height: 60px;
  margin-top: 15px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #6c757d;
  font-size: 12px;
  letter-spacing: -0.6px;
  line-height: 20px;
}

.baca .blog-3 {
  margin-top: 51px;
  width: 275.41px;
  height: 450px;
  margin-left: 11px;
  display: flex;
  flex-direction: column;
}

.baca .image-2 {
  margin-left: 0.2px;
  width: 269.22px;
  height: 280px;
}

.baca .text-wrapper-12 {
  margin-left: 0.2px;
  width: 57px;
  height: 15px;
  margin-top: 23px;
  display: flex;
  align-items: center;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #6c757d;
  font-size: 12px;
  letter-spacing: -0.6px;
  line-height: normal;
}

.baca .dream-destinations-2 {
  margin-left: 0.2px;
  width: 239px;
  height: 50px;
  margin-top: 7px;
  font-size: 18px;
  letter-spacing: -0.9px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #495057;
  line-height: 25px;
}

.baca .blog-4 {
  margin-top: 51px;
  width: 275.22px;
  height: 450px;
  margin-left: 11.4px;
  display: flex;
  flex-direction: column;
}

.baca .text-wrapper-13 {
  margin-left: 0.2px;
  width: 269px;
  height: 60px;
  margin-top: 15px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #6c757d;
  font-size: 12px;
  letter-spacing: -0.6px;
  line-height: 20px;
}

.baca .title-blog {
  position: absolute;
  top: 0;
  left: 0;
  width: 1062px;
  height: 113px;
}

.baca .text-wrapper-14 {
  position: absolute;
  top: 93px;
  left: 3px;
  width: 1055px;
  white-space: nowrap;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: -0.6px;
  line-height: 20px;
}

.baca .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  display: flex;
  align-items: flex-end;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 48px;
  letter-spacing: -2.4px;
  line-height: 100px;
  white-space: nowrap;
}

.baca .footer {
  width: 1442px;
  position: relative;
  margin-top: 161px;
  background-color: transparent;
}

.baca .footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 374px;
  background-color: #212529;
}

.baca .group-4 {
  position: absolute;
  top: 47px;
  left: 150px;
  width: 301px;
  height: 149px;
}

.baca .benedictsandro-gmail {
  position: absolute;
  top: 96px;
  left: 0;
  width: 261px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #e5e5e5;
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 30px;
}

.baca .contact-me {
  position: absolute;
  top: 0;
  left: calc(50% - 150px);
  width: 297px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: -2.4px;
  line-height: 100px;
  white-space: nowrap;
}

.baca .text-wrapper-16 {
  font-weight: 500;
  letter-spacing: -1.15px;
}

.baca .text-wrapper-17 {
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  letter-spacing: -1.15px;
}

.baca .group-5 {
  position: absolute;
  width: 163px;
  height: 136px;
  top: 47px;
  left: 1116px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.baca .div-wrapper {
  margin-left: 2px;
  width: 165px;
  align-self: center;
  display: flex;
  justify-content: center;
}

.baca .text-wrapper-18 {
  width: 163px;
  height: 84px;
  margin-left: -2px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  text-align: right;
  letter-spacing: -2.4px;
  line-height: 100px;
  white-space: nowrap;
}

.baca .group-6 {
  margin-left: 47px;
  width: 116px;
  display: flex;
  gap: 12px;
}

.baca .li {
  width: 27px;
  height: 26px;
  aspect-ratio: 1.02;
  object-fit: cover;
}

.baca .yt {
  width: 39px;
  height: 26px;
  aspect-ratio: 1.49;
  object-fit: cover;
}

.baca .ig {
  width: 26px;
  height: 26px;
  aspect-ratio: 1;
  object-fit: cover;
}

.baca .copyright {
  position: absolute;
  top: 291px;
  left: 581px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 400;
  color: #e5e5e5;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.6px;
  line-height: 20px;
  white-space: nowrap;
}

.baca .text-wrapper-19 {
  font-weight: 300;
  letter-spacing: -0.07px;
}

.baca .text-wrapper-20 {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: -0.07px;
}
